@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}
figure {
  position: relative;
  bottom: 60px;
}
nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #00669f;
  font-weight: 400px;
  font-size: 40px;
  padding: 20px 0 20px 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}

.head {
  background-color: #1cd1b0;
  padding: 5px 0 5px 20px;
  font-weight: 400px;
  font-size: 15px;
  border: 1px solid black;
}

.cont {
  text-align: center;
}
.container {
  display: inline-block;
  width: 300px;
  margin-top: 100px;
  margin-bottom: 200px;
  background-color: #f3f3f3;
  height: 600px;
}

.container p {
  text-align: justify;
  font-size: 16px;
  padding: 15px;
  bottom: 6px;
}

.contenido {
  position: relative;
  bottom: 50px;
}
header {
  background-color: blue;
}
h2 {
  font-weight: 171px;
  font-size: 35px;
}
.box1 {
  margin-right: 40px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box2 {
  margin-right: 40px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box3 {
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

button {
  width: 128.78px;
  height: 48.52px;
  background-color: #00669f;
  border: 0px;
  color: white;
  margin-top: 25px;
}

footer {
  background-color: #00669f;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff9f9;
}
